# Environments
venv/
venv_mac/
venv_build/
__pycache__/

# Build artifacts
build/
dist/
dist-portable/
*.spec
node_modules/
src-tauri/target/

# IDEs
.idea/
.vscode/
.DS_Store

# Temporary files
*.log
_backup/

.env
.env.local
.zshrc
fcs
